/**
 * SDUI Design Files - Combined CSS
 *
 * This file imports all design system CSS files:
 * - colors.css: Color variables and tokens
 * - breakpoints.css: Breakpoint variables and media queries
 */

@import './colors.css';
